* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
    transition: background 0.3s, color 0.3s;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.3s;
    z-index: 1000;
}

header.scrolled {
    background: #020617;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #e2e8f0;
    font-weight: 500;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    padding: 0 10%;
    padding-top: 80px;

    gap: 10px;
    overflow: hidden;

    background: #0b1120;
}

.hero h2 {
    font-size: 52px;
    margin-bottom: 20px;
    max-width: 900px;
    animation: fadeUp 1s ease;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero p {
    font-size: 20px;
    color: #94a3b8;
    margin-bottom: 30px;
}

.scroll-indicator {
    position: absolute;
    bottom: 50px;
    font-size: 20px;
    animation: bounce 1.5s infinite;
    opacity: 0.7;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 28px;
    background: #38bdf8;
    color: #020617;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(56, 189, 248, 0.4);
}

section:not(.hero) {
    background: #0f172a;
}

section {
    padding: 60px 10%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.6s;
}

section h2 {
    font-size: 36px;
    text-align: left;
    margin-bottom: 45px;
    position: relative;
    display: inline-block;
}

section h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;

    width: 70px;
    height: 4px;

    background: #38bdf8;
    border-radius: 999px;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

.skills {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.skill-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
}

.skill-items span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
    color: #cbd5e1;
    white-space: nowrap;
}

.skill-group h3 {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
}

.skill-group p {
    font-size: 17px;
    line-height: 1.9;
    color: #cbd5e1;
}

.skill-group i {
    font-size: 18px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    border: 1px solid #1e293b;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #94a3b8;
}

.card a {
    text-decoration: none;
    color: #38bdf8;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #38bdf8;
}

#sobre {
    background: #111827;
    padding: 120px 20%;
}

#projetos {
    background: #0b1120;
    padding: 120px 20%;
}

#contato {
    background: #111827;
    padding: 120px 20%;
}

.about-content p {
    font-size: 18px;
    line-height: 1.8;
    color: #cbd5e1;
    margin-bottom: 24px;
}

.about-content p:last-child {
    margin-bottom: 0;
}

body.light {
    background: #f1f5f9;
    color: #020617;
}

body.light header {
    background: #ffffff;
}

body.light .card {
    background: #ffffff;
    border: 1px solid #ccc;
}

body.light nav a {
    color: #020617;
}

body.light .hero {
    background: linear-gradient(
        -45deg,
        #f8fafc,
        #e2e8f0,
        #dbeafe,
        #f8fafc
    );

    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;
}

body.light section {
    background: #f1f5f9;
}

body.light .card p {
    color: #334155;
}

body.light #sobre {
    background: #f8fafc;
}

body.light #projetos {
    background: #f1f5f9;
}

body.light #contato {
    background: #f8fafc;
}

body.light .about-content p {
    color: #334155;
}

body.light .skill-group p {
    color: #334155;
}

body.light .skill-items span {
    color: #334155;
}

#toggleTheme {
    margin-left: 20px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    z-index: 1001;
}

section a {
    text-decoration: none;
    color: #38bdf8;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 30px 10%;
    background: #020617;
    border-top: 1px solid #1e293b;
}

footer p {
    font-size: 14px;
    color: #94a3b8;
}

body.light footer {
    background: #ffffff;
    border-top: 1px solid #d1d5db;
}

body.light footer p {
    color: #475569;
}

